.BoldTable {
  font-weight: bold !important;
}
.MuiTableCell-alignRight {
  text-align: left !important;
  flex-direction: row-reverse;
}
.Flex-row-reverse {
  text-align: left;
  flex-direction: row-reverse;
}
